<html>
  <head>
     <title>{{title}} - microblog </title>
  </head>
  <body>
     <h1>  {{user.nickname}}</h1>
     <p> perlu diingat bahwa raspberry pi merupakan microcomputer yang dapat kita fungsikan sebagai microcontroler meskipun overkill, ibaratnya ingin membunuh lalat dengan bom atom hehe, raspberry pi dapat dijadikan apa saja sebagai console game bisa, robot bisa, mobil-mobilan pun bisa, komputer biasa juga bisa, microserver sangat bisa atau mau buat semuanya jadi satu juga bisa</p>
  </body>
</html>
