<!doctype html>
  <head>
     <title>experimen jinja </title>
  </head>
  <body>
     {% if name %}
        <h1> Hello {{name}}!</h1>
     {% else %}
        <h1> Hello, Man!</h1>
     {% endif %}

  </body>
</html>

